[submodule "gtest"]
	path = gtest
	url = git@github.com:google/googletest.git
[submodule "sensorutils"]
	path = sensorutils
	url = git@github.com:USGS-Astrogeology/SensorUtils.git
[submodule "csmcameramodel"]
	path = csmcameramodel
	url = git@github.com:USGS-Astrogeology/CSM-CameraModel.git
